.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved
Examples/SwiftUIExample/ReclaimXCFrameworks
Examples/SwiftUIExample/ReclaimXCFrameworks.zip
Examples/SwiftUIExample/ReclaimXCFrameworks.tar.gz
Examples/SwiftUIExample/ReclaimXCFrameworks.tar.xz
Dist/
ReclaimXCFrameworks/
Documentations/
Build/
